body {
  background-color: #eaf6f6;
}

h1{
  color: #000000;
}
h3{
  color: #000000;
}

hr {
  background-color:none;
  border-style:none;
  border-top-style:dotted;
  border-color: grey;
  border-width: 5px;
  height: 0;
  width: 5%;
}
table
{
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    border: 1px solid #b7fa1a;
    }
